/*los colores despues se cambian, queria ver como queda la transicion*/

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  border-radius: 10px;
  transition: transform 0.7s ease;
  backface-visibility: hidden;
  box-shadow: 0 7px 15px -5px rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.card__front {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 30px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card__back {
  border: 1px solid #ccc;
  background: #efefef;
  display: flex;
  flex-direction: column;
  transform: rotateY(-180deg);
  height: 100%;
  width: 100%;
}

.cards:hover .card__front,
.cards:focus .card__front {
  transform: rotateY(180deg);
}

.cards:hover .card__back,
.cards:focus .card__back {
  transform: rotateY(0);
}

.cards {
  position:relative;
  height: 400px;
  width: 300px;
  align-items: center;
}

.location, .remote, .end, .tipo, .enterprise {
  font-size: 15px;

}
.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.enterprise, .description {
  text-align: center;
}

.logo {
  display: block;
  margin:auto;
  border-radius: 5px;
  height: 150px;
  width: 150px;
}
.btn {
  color: black;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 6px;
  height: 40px;
  width: 150px;
  display: inline-block;
}
.btn:hover {
  color: yellow;
  background-color: black;
  border: 2px solid yellow;
}
.divide {
  height: 10px;
}
.description{
  width: 90%;
}
.end, .description{
  margin-left: 10px;
}

.linkedin {

  text-align: center;
  position: absolute;
bottom: 8%;
left: 50%;
transform: translateX(-50%);

}
