.videoCard-grid {
    width                : 80%;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : 30px;
    /* grid-auto-rows    : minmax(100px, auto); */
    margin-right         : 10px;
    margin-left          : 20px;
}

.h1 {
    text-align: center;
}

.h3 {
    text-align: center;
    background-color: yellow;
    font-size: 22px;
}

.h4 {
    text-align: center;
    background-color: rgb(241, 222, 42);
    -webkit-border-radius: 50px;
    height: 30px;
    font-size: 12pt;
    line-height: 10px;
    padding: 10px
    0;
    box-shadow: 10px 5px 5px black
}

.chooseAndShowInstructorDiv {
    margin-top: 30px;
}


.h4:hover {
    background-color: white
}

.containerTeachers {
    height: 75px;
    background-color: yellow;
}

.navegationDiv {
    background-color: red
}

.menuDiv {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    margin-bottom: 10px;
}

.clickLectures {
    margin-top: 20px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color:black;
    width: all;
    margin-top: 50px;
    margin-bottom: 30px;
}

.teacherAndVideoDiv {
    background-color: yellow;
    height: 600px;
}

.changeLecture {
    cursor: pointer;
}

.changeLecture:hover {
    font-size: 15px;
    
}


.link {
    margin-top: 30px;
    font-size: 15px;
}

.returns {
    font-size: 100px;
}

.teachersDiv {
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    margin-top: 30px;
    
}


.teacherDiv {
    cursor: pointer;    
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.banner {
    background-color: black;
    height: 10px;
}

.headerBanner {
    background-color: yellow;
    height: 10px;
}