.readme {
    display: block;
    position:relative;
    margin:auto;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 1200px;
    justify-content: center;
    background-color: white;
}

.h1 {
    text-align: center;
}