.robot {
    width: 60%;
}

.pag {
    display         : flex;
    justify-content : flex-start;
    align-items     : center;
    background-color: rgb(168, 168, 166);
}



.text {
    color      : rgb(255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size  : 250%;
}




 .btn {
  color: black;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 6px;
  height: 40px;
  width: 150px;
  display: inline-block;
}
.btn:hover {
  color: yellow;
  background-color: black;
  border: 2px solid yellow;
}
