.robot {
    width: 60%;
}

.pag {
    display         : flex;
    justify-content : flex-start;
    align-items     : center;
    background-color: rgb(168, 168, 166);
}

.button {
    background-color: rgb(168, 168, 166);
    padding         : 2px;
    border          : solid yellow 2px;
}

.text {
    color      : rgb(255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size  : 250%;
}


button:hover {
    background-color: rgb(100, 99, 110);
 }
