.robot {
    width: 50%;
}

.pag {
    display        : flex;
    justify-content: start;
    align-items    : center;   
    background-color: rgb(168, 168, 166);
}

.home {
    color      : rgb(255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    text-shadow: 0 10px 0 #706e6e;
    padding: 2px;
    border: solid yellow 2px;
    box-shadow:0 15px 0 #706e6e;
    border-radius: 100%;

}