.containerTitle {
  margin-bottom: 15px;
  padding: 1%;
  text-shadow: 0 0 5px yellow;
  text-align: center;
  font-size: 30px;
}

.containerDiv {
  width: 100%;
  overflow-y: hidden;
}

.containerCarousel {
  width: 100%;
}

.containerBoom {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20;
  padding: 10px;
}

.link {
  color: #ffff01;
  text-decoration: none;
}

button.rec-dot {
  background-color: black;
  box-shadow: 0 0 1px 3px rgb(255, 255, 255);
}

button.rec-dot:active,
button.rec-dot:focus {
  background-color: yellow;
  box-shadow: 0 0 1px 3px rgb(253, 253, 253);
}

button.rec-dot:active {
  color: yellow;
  box-shadow: 0 0 1px 3px rgb(255, 255, 255);
}

button.rec-dot:hover {
  color: yellow;
}

.rec.rec-arrow {
  background-color: rgb(172, 172, 172);
}

.rec.rec-arrow:focus {
  background-color: rgb(49, 49, 49);
}

button.rec-arrow:hover,
button.rec-arrow:active {
  background-color: rgb(49, 49, 49);
}

button:hover {
  background-color: rgb(49, 49, 49);

}