.containerTitle {
  margin-bottom: 15px;
  padding: 1%;
  text-shadow: 0 0 5px yellow;
  text-align: center;
  font-size: 30px;
}

.containerDiv {
  font-family: "Montserrat", sans-serif;  
}

.containerBoom {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20;
  padding: 10px;
}

.link {
  text-decoration: none;
}

button.rec-dot{
  background-color: black;
  box-shadow: 0 0 1px 3px rgb(255, 255, 255);
}

 button.rec-dot:active, button.rec-dot:focus  {
  background-color: yellow;
  box-shadow: 0 0 1px 3px rgb(253, 253, 253);
}

button.rec-dot:hover {
  background-color: yellow;
  box-shadow: 0 0 1px 3px rgb(255, 255, 255);
  
}

.rec.rec-arrow {
  background-color: white;
}
button.rec-arrow:active {
  background: transparent;
}
