.catalogueWrapper {
  margin: 2rem 0;
  margin-bottom: 113px;
  background: #f4f5f7;
  padding: 40px 20px;
}

.empleosColumn {
 display: flex;
 align-items: stretch; 
 justify-content: space-around; 
 flex-wrap: wrap;
}

.offertitle {
  margin-bottom: 15px;
  padding: 1%;
  text-shadow: 0 0 5px yellow;
  text-align: center;
  font-size: 30px;
}

.btn {
  color: black;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 6px;
  height: 40px;
  width: 150px;
  display: inline-block;
}
.btn:hover{
  color: yellow;
  background-color: black;
  border: 2px solid yellow;
}

/* 


// import styled from 'styled-components';

// export const CatalogueWrapper = styled.div`
  
//   margin: 2rem 0;
//   margin-bottom: 113px;
//   background: #f4f5f7;
//   padding: 40px 20px;
// `;

// export const EmpleosColumn = styled.div`
  
//   display: flex;
//   align-items: center;
  
// `; */


