.modCard {
  width           : 350px;
  padding         : 15px;
  margin          : 15px;
  background-color: yellow;
  border          : 1px solid black;
  border-radius   : 5px;
}

.info {
  display        : flex;
  justify-content: space-evenly;
  color          : black;

}

.disabled {
  opacity         : 0.65;
  background-color: rgb(97, 94, 94);
  border          : 2px solid yellow;
}

.textColor {
  color: yellow;
}